<li class="{{if todo.isComplete "completed"}} {{if editing "editing"}}">
  <div class="view">
    <input class="toggle" type="checkbox" checked={{todo.isComplete}} onchange={{action "toggleDone" todo}}>
    <label ondblclick={{action "startEdit"}}>{{todo.title}}</label>
    <button class="destroy" onclick={{action "deleteTodo" todo}}></button>
  </div>
  <input class="edit" value="{{todo.title}}" onblur={{action "updateTitle" todo}} onkeyup={{action "acceptKeyInput" todo}}>
</li>
