<li class="{{if todo.isComplete "completed"}}">
  <div class="view">
    <input class="toggle" type="checkbox" checked={{todo.isComplete}} onchange={{action "toggleDone" todo}}>
    <label>{{todo.title}}</label>
    <button class="destroy" onclick={{action "deleteTodo" todo}}></button>
  </div>
  <input class="edit" value="{{todo.title}}">
</li>
